{% set cluster_name = inventory_hostname | regex_replace('controlplane', '') %}
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
metadata:
  name: "{{ cluster_name }}"
networking:
  podSubnet: "{{ kubernetes_clusters[cluster_name].pod_cidr }}"
  serviceSubnet: "{{ kubernetes_clusters[cluster_name].service_cidr }}"
  dnsDomain: "{{ kubernetes_clusters[cluster_name].dns_domain }}"
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{ kubernetes_clusters[cluster_name].control_plane }}"
  bindPort: 6443
nodeRegistration:
  kubeletExtraArgs:
    node-ip: "{{ kubernetes_clusters[cluster_name].control_plane }}"
